manifest {
	nextflowVersion = ">=20.01.0"
}

env {
	KINC_PATH = "${PWD}/KINC"
}

params {
	input {
		n_samples = 1000
		n_genes = 100
		n_classes = 2
		emx_file = "example.emx.txt"
	}

	output {
		dir = "output"
		cmx_file = "example.cmx.txt"
		rmt_file = "example.rmt.txt"
		net_file = "example.net.txt"
	}

	similarity {
		clus_method = "gmm"
		corr_method = "spearman"
		min_expr = "-inf"
		min_clus = 1
		max_clus = 5
		criterion = "bic"
		preout = true
		postout = true
		min_corr = 0
		max_corr = 1
	}

	threshold {
		method = "rmt"
		tstart = 0.99
		tstep = 0.001
		tstop = 0.50
	}

	extract {
		threshold = 0
	}

	visualize {
		output_dir = "plots"
	}
}



report {
	enabled = true
	file = "${params.output.dir}/reports/report.html"
}



timeline {
	enabled = true
	file = "${params.output.dir}/reports/timeline.html"
}



trace {
	enabled = true
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "${params.output.dir}/reports/trace.txt"
	raw = true
}



process {
	errorStrategy = "retry"
	maxRetries = 2
	echo = false
}



profiles {
	pbs {
		process {
			executor = "pbspro"
			cpus = 2
			memory = 8.GB
			time = "24h"

			module = "anaconda3"
		}
	}

	standard {
		process {
			executor = "local"
			cpus = 2
			memory = 8.GB
		}
	}

	testing {
		process.errorStrategy = "terminate"
	}
}