manifest {
	nextflowVersion = ">=21.04.0"
}

params {
	n_samples = 1000
	n_genes = 100
	n_classes = 2

	emx_file = "example.emx.txt"
	cmx_file = "example.cmx.txt"
	rmt_file = "example.rmt.txt"
	net_file = "example.net.txt"

	output_dir = "output"
	plots_dir = "output/plots"

	similarity_clusmethod = "gmm"
	similarity_corrmethod = "spearman"
	similarity_minexpr = "-inf"
	similarity_minclus = 1
	similarity_maxclus = 5
	similarity_criterion = "bic"
	similarity_preout = true
	similarity_postout = true
	similarity_mincorr = 0
	similarity_maxcorr = 1

	threshold_method = "rmt"
	threshold_tstart = 0.99
	threshold_tstep = 0.001
	threshold_tstop = 0.50
}



report {
	enabled = true
	file = "${params.output_dir}/reports/report.html"
}



timeline {
	enabled = true
	file = "${params.output_dir}/reports/timeline.html"
}



trace {
	enabled = true
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "${params.output_dir}/reports/trace.txt"
	raw = true
}



process {
	errorStrategy = "retry"
	maxRetries = 2
	echo = false
}



profiles {
	palmetto {
		process {
			executor = "pbspro"
			cpus = 2
			memory = 8.GB
			time = 24.h

			module = "anaconda3/5.1.0-gcc"
		}
	}

	standard {
		process {
			executor = "local"
			cpus = 2
			memory = 8.GB
		}
	}

	testing {
		process.errorStrategy = "terminate"
	}
}
